
.register-block{align-content: center;padding :50px 50px; border-color: black;}

.container{align-content: center;background:#bfddee; width: 50%; height: 40%; border-color: black;}
.header{padding: 10px 40px ;color: black; font-family: 'Segoe UI',  sans-serif;}
.btn{float:right;color:rgb(32, 21, 23);font-family: 'Segoe UI',  sans-serif;background-color: deepskyblue;padding: px 10px; border-color: rgb(22, 12, 12);}


.title{padding: 10px 10px; align-content: center; width:35.5%;}
