
.register-block{align-content: center;width:100%;padding : 250px 0; }
.btn-{background: #113a86; color:#ffffff; font-weight:600; border-radius: 5px;}
.container{background:#D3D3D3; border-radius: 10px; width: 40%; height: 40%;}
.register-sec{padding: 50px 30px; position:relative;}
.btn-next{background: #497ddf; color:#ffffff; font-weight:600; border-radius: 5px;}
